@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@font-face {
  font-family: "Arial";
  font-style: normal;
  font-weight: normal;
  src: local("Arial"), url("./fonts/ARIAL.woff") format("woff");
}

.trek-main-body-wrapper h1 {
  font-family: "Nunito", sans-serif !important;
  font-style: normal !important;
  font-weight: 700 !important;
  font-size: 24px !important;
  line-height: 32px !important;
  color: #000000;
}
.trek-main-body-wrapper h2 {
  font-family: "Nunito", sans-serif !important;
  font-style: normal !important;
  font-weight: 700 !important;
  font-size: 20px !important;
  line-height: 28px !important;
  color: #000000;
}
.trek-main-body-wrapper h3 {
  font-family: "Arial" !important;
  font-style: normal !important;
  font-weight: 700 !important;
  font-size: 18px !important;
  line-height: 24px !important;
  color: #000000;
}
.trek-main-body-wrapper h4 {
  font-family: "Arial" !important;
  font-style: normal !important;
  font-weight: 700 !important;
  font-size: 16px !important;
  line-height: 24px !important;
  color: #000000;
}
.trek-main-body-wrapper h5 {
  font-family: "Nunito", sans-serif !important;
  font-style: normal !important;
  font-weight: 700 !important;
  font-size: 14px !important;
  line-height: 24px !important;
  color: #000000;
}

.trek-main-body-wrapper h6 {
  font-family: "Nunito", sans-serif !important;
  font-style: normal !important;
  font-weight: 700 !important;
  font-size: 12px !important;
  line-height: 24px !important;
  color: #000000;
}

.trek-main-body-wrapper ul li,
.trek-main-body-wrapper ol li,
li::marker {
  font-family: "Arial" !important;
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 16px !important;
  line-height: 24px !important;
  color: #000000;
}
.trek-main-body-wrapper a {
  font-family: "Arial" !important;
  font-style: normal !important;
  font-weight: 600 !important;
  font-size: 16px !important;
  line-height: 24px !important;
  color: #000000;
}

.trek-main-body-wrapper p {
  font-family: "Arial" !important;
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 16px !important;
  line-height: 24px !important;
  color: #000000;
}
